extends layout

block content
  h1= title
  - let eagleid = toShow._id
  - let eagle_color = toShow.eagle_color
  - let eagle_breed = toShow.eagle_breed
  - let eagle_price = toShow.eagle_price

  div
    div.row
      div(class='eagleAttr mr-3') eagle ID is:
      div #{eagleid}

    div.row
      div(class='eagleAttr mr-3') eagle color is:
      div #{eagle_color}

    div.row
      div(class='eagleAttr mr-3') eagle breed is:
      div #{eagle_breed}

    div.row
      div(class='eagleAttr mr-3') eagle price is:
      div #{eagle_price}
