extends layout
block content
    div(class="container-fluid")
        h1= title
    - let results=[{eagle_color:"brown",eagle_breed:"Bald Giant eagle",eagle_price:2000},{eagle_color:"white",eagle_breed:"Harpy eagle",eagle_price:5500},{eagle_color:"black",eagle_breed:"Havana",eagle_price:4000}]
            div(class="row")
                each form,item in results
                    div(class = "col-sm-2 bg-success" onclick=`buy(${item})`) #{form.eagle_color}              
                    div(class = "col-sm-2 bg-success" onclick=`buy(${item})`) #{form.eagle_breed}                
                    div(class = "col-sm-2 bg-success" onclick=`buy(${item})`) #{form.eagle_price}
                    hr
    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }              
